<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Collaborative Whiteboard</title>

        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/spectrum/1.8.1/spectrum.min.css" />
        <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
         <link rel="stylesheet" href="static/styles.css"/>
    </head>
    <body>
        <div id="header">Collaborative Whiteboard</div>

        <canvas id="whiteboard" width="800" height="600"></canvas>

        <div id="controls">

            <input type="text" id="colorPicker" value="#000000" />
            <input type="text" id="username" placeholder="Enter your username" />


            <button id="setUsernameBtn">Set Username</button>
        </div>

        <button id="clearCanvasBtn" onclick="clearCanvas()">Clear Canvas</button>

        <div id="userList"></div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/spectrum/1.8.1/spectrum.min.js"></script>

       <script type="text/javascript" src="{{ url_for('static', filename='socket.js') }}"></script>


    </body>
</html>

